html,body{
    background-color: green;

    background-size: 100%;
}
.grid{
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-auto-rows: 50px;
}

.dices{
width: 70%;
grid-row: 3;
}

#roll{
color: white;
width: 80%;
height: 80%;
grid-row: 3;
grid-column: 10;
scale: 1.5;
background-color: transparent;
backdrop-filter: blur(30px);
border: 0px;
border-radius: 8px;
transition: 1s;

}
#roll:hover{
scale: 1;
transform: rotate(10deg);
background-color:green;
transition: 1s;
}

#rolls{
color: white;
grid-column: 10 ;
grid-row: 5;
font-size: 40px;
padding-left: 30%;
}
.table{
grid-column: 15/19;
grid-row: 1/10;
align-items: center;
color: white;
border: 1px solid ;
border-radius: 5px;
width: 80%;
height: 97%;
backdrop-filter: blur(30px);

}
#tableBorder{
border: 1px;
border-radius: 5px;



}
th{
border: 1px solid white;
border-radius: 5px;
color: whitesmoke;
}

#wisselVanSpeler{
    grid-column: 10;
    grid-row: 4;
    color: white;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    width: 120%;
    padding-left: -50px;
    padding-top: 10px;
}